body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #054eeb;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.search-box {
    text-align: center;
    margin: 20px 0;
}

.search-box input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    background-color: hsla(0, 0%, 0%, 0.05);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product-card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.product-card button:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cart {
    margin: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart h4 {
    margin: 0;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-items li {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 200px;
    cursor: pointer;
}

.cart-items button:hover {
    background-color: #d32f2f;
}

.checkout {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.checkout:hover {
    background-color: #45a049;
}

.total-price {
    font-weight: bold;
    margin-top: 10px;
}
